/* Coolors Exported Palette - coolors.co/3f3f37-d6d6b1-494331-878472-de541e */

/* HSL */
$color1: hsla(60%, 7%, 23%, 1);
$color2: hsla(60%, 31%, 77%, 1);
$color3: hsla(45%, 20%, 24%, 1);
$color4: hsla(51%, 8%, 49%, 1);
$color5: hsla(17%, 76%, 49%, 1);

/* RGB */
$color1: rgba(63, 63, 55, 1);
$color2: rgba(214, 214, 177, 1);
$color3: rgba(73, 67, 49, 1);
$color4: rgba(135, 132, 114, 1);
$color5: rgba(222, 84, 30, 1);
$color6: rgba(214, 214, 177, 0);

$landing-font: 'Cormorant SC', serif;

body {
  background-image:url('/images/landing.jpg');
  background-size:cover;
  nav {
    .navbar-brand {
      font-family: $landing-font;
      font-size:1.5em;
    }
  }

  main {
    height:90vh;
    text-align:center;
    color:$color2;
    .landing {
      background-color:$color6;
    }
    h1 {
      font-family: $landing-font;
      letter-spacing: 1.25px;
      text-shadow: 3px 3px 3px $color3;
      margin-bottom: -10px;
    }

    h2, h3, h4{
      font-weight: lighter;
      text-shadow: 3px 3px 3px $color3;
      margin-bottom:20px;
    }


  }
}
